<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/traveler.css">
</head>
<body>
<div class="container" align="center">
    <div class="appTitle">RESET PASSWORD</div>
    <div class="imgLogo"> <img align="center" src="/img/imgLogoBadge.png"/></div>
    <div align="center">
        <div class="msgLarge">Welcome Back, <%= psnId %>!</div>

        <div class="msgLarge">Your Traveler username is : <%= userName %></div>
    </div>
    <div class="pad"/>
    <form name="resetPasswordForm" action="/api/v1/auth/resetPassword/<%= token %>%>" method="POST">
        <div class="containerBox" align="center">
            <div class="lockContainer" >
                <img src="/img/iconPasswordLock.png"/>
            </div>
            <div class="formContainer">
                <div align="left" class="labelSm">PASSWORD</div>
                <div align="left"><input type="password" name="passWord" class="txtSm" placeholder="Enter new password" /></div>
                <input type="hidden" name="psnId" value="<%= psnId %>"/>
                <input type="hidden" name="userName" value="<%= userName %>"/>
            </div>
        </div>
        <div class="padSm"/>
        <input type="submit" value="YES, RESET MY PASSWORD" class="btnBlue"/>

    </form>
</div>
</body>

</html>