<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body ng-app="travelerAdmin"  ng-controller="appController">
<div class="row">
<div class="col-md-3"></div>
<div class="container jumbotron col-md-4">
    <h3 align="center">Reset Password Request</h3>
    <br/>
    <div align="left">
        <p><h5>Welcome Back, <%= psnId %>!</h5></p>

        <p><h5>Your Traveler username is : <h4><span class="label label-info"><%= userName %></span></h4></h5></p>
    </div>
    <br/>
    <p align="center">
        <form name="resetPasswordForm" action="/api/v1/auth/resetPassword/<%= token %>%>" method="POST">
            <p><h5>Enter Your new password : </h5></p>
            <p><input type="password" name="passWord" class="tex"></p>
            <input type="hidden" name="psnId" value="<%= psnId %>"/>
            <input type="hidden" name="userName" value="<%= userName %>"/>
            <input type="submit" value="Reset Password" class="btn btn-primary"/>
        </form>
    </p>
</div>
</div>
</body>

</html>