<% include header %>


<hr>
    <h1>moments : (<%= moments.length %>)</h1>
      <% for(var i=moments.length-1; i>=0; i--) {
          var content = moments[i].content;
        var bError = false; bContentError = false;
        var errorMessage = '';
        if (utils._.isEmpty(content)) {
          bError = true;
          bContentError = true;
          errorMessage = errorMessage + "[ERROR:Invalid content]"
        } else {
          if ((content.defaultMoment == moments[i]._id) && (content.thumbNail != moments[i].thumbNail))  {
            bError = true;
            errorMessage = errorMessage + "[WARNING:Content thumbnail not matching moment]"
          }
        }

        if (!bError) {
        %>
          <p style="background-color:#009999">

        <%
        } else {
        %>
          <p style="background-color:#FF9966">
        <%
        }
        %>
          [MOMENT] <%= moments[i].title %>&nbsp;[ <%= moments[i].subTitle %>]&nbsp; <%=errorMessage%>
        </p>
        <a href="<%= moments[i].thumbNail %>" target="_thumbNail">
          <img src="<%= moments[i].thumbNail %>" width="180" height="180">
        </a>
        <%
        if (!bContentError) {
        %>
          <a href="<%= moments[i].content.thumbNail %>" target="_thumbNail">
            <img src="<%= moments[i].content.thumbNail %>" width="180" height="180">
          </a>
        <%
        }
        %>

        <br> moment._id : <%= moments[i]._id %>
        <br> moment.start-end : <%= moments[i].start %>-<%= moments[i].end %>
        <br> <a href="<%= moments[i].playUrl %>" target="playUrl">playUrl</a> : <%= moments[i].playUrl %>
        <br> <a href="<%= moments[i].playUrlAWS %>" target="playUrlAWS">playUrlAWS</a> : <%= moments[i].playUrlAWS %>
        <br> <a href="<%= moments[i].thumbNail %>" target="thumbNail">thumbNail</a> : <%= moments[i].thumbNail %>
        <%
        if (!bContentError) {
        %>
          <br> moment.content._id : <%= moments[i].content._id %>

          <br> <a href="<%= moments[i].content.thumbNail %>" target="content">thumbNail.content</a> : <%= moments[i].content.thumbNail %>
          <br> <a href="<%= moments[i].content.s3PlayUrl %>" target="content">content.s3PlayUrl</a> : <%= moments[i].content.s3PlayUrl %>
        <%
        }
        %>
        <hr>
    <br> moment.content : <%= JSON.stringify(moments[i].content) %>
      <% } %>
    <hr>
  </div>


<% include footer %>
