<% include header %>

    <h1>CHATS :</h1>
    <ul>
      <% for(var i=chats.length-1; i>=0; i--) {%>
        <li>

          <form action="/admin/chats/delete?secret=<%= secret %>&phoneNo=<%= phoneNo %>" method="post">
            <input name="phoneNo" value="<%= phoneNo %>">
            <input name="chatid" type="hidden" placeholder="chat id" value="<%= chats[i]._id %>">
            <input name="secret" type="hidden" placeholder="secret" value="<%= secret %>">
            <input type="submit" value="remove user from this chat">
            <br>
          </form>
          id: <%= chats[i]._id %>:&nbsp;&nbsp; creator: <%= chats[i].creator %>:&nbsp;&nbsp; members: <%= chats[i].members.values.length %>:&nbsp;&nbsp; latest msg: [<%= chats[i].latestMessage.text %>]:&nbsp;&nbsp; name: [<%= chats[i].name %>]
          <br>
          type: <%= chats[i].type %>:&nbsp;&nbsp;content: <%= chats[i].content %>:&nbsp;&nbsp;moment: <%= chats[i].moment %>:&nbsp;&nbsp;
        </li>
      <% } %>
    </ul>
    <hr>
  </div>

<% include footer %>
