<% include header %>

    <hr>
    <h1>CONTENTS : (<%= contents.length %>)</h1>
    <ul>
      <% for(var i=contents.length-1; i>=0; i--) {%>
          <form action="/admin/contents/delete?secret=<%= secret %>" method="post">
            <input name="secret"  type="hidden" placeholder="secret" value="<%= secret %>">
            <input name="contentid" type="hidden" placeholder="content id" value="<%= contents[i]._id %>">
            <%
              var bError = false;

              var errorMessage = '[SYNC NEEDED] Invalid';
              if ((contents[i].s3PlayUrl == '') || (contents[i].s3PlayUrl == null)) {
                bError = true;
                errorMessage = errorMessage + ' [s3PlayUrl]  ';
              }

              if ((contents[i].defaultMoment == '') || (contents[i].defaultMoment == null)) {
                bError = true;
                errorMessage = errorMessage + ' [defaultMoment] ';
              }

              if ((contents[i].thumbNail == '') || (contents[i].thumbNail == null)) {
                bError = true;
                errorMessage = errorMessage + ' [thumbNail] ';
              }
              if ((contents[i].socialEndorsementMessage == '') || (contents[i].socialEndorsementMessage == null)) {
                bError = true;
                errorMessage = errorMessage + ' [socialEndorsementMessage] ';
              }
              if ((contents[i].socialEndorsements == '') || (contents[i].socialEndorsements == null)) {
                bError = true;
                errorMessage = errorMessage + ' [socialEndorsements] ';
              }
              if ((contents[i].socialEngagedFriends == '') || (contents[i].socialEngagedFriends == null) || (contents[i].socialEngagedFriends.values.length == 0)) {
                bError = true;
                errorMessage = errorMessage + ' [socialEngagedFriends] ';
              }
              if ((contents[i].editorialMoments == null) || (contents[i].editorialMoments.values.length < contents[i].duration)) {
                bError = true;
                errorMessage = errorMessage + ' [Not enough editorial moments] ';
              }
              if (bError == true) {
                %>
                <p style="background-color:#FF9966">
                  [CONTENT] <%= contents[i].title %>&nbsp;[ <%= contents[i].subTitle %>]&nbsp;<%=errorMessage%>
                </p>
                <%
              } else {
                %>
                <p style="background-color:#009999">
                  [CONTENT] <%= contents[i].title %>&nbsp;[ <%= contents[i].subTitle %>]&nbsp;
                </p>
                <%

              }
            %>

            <a href="<%= contents[i].thumbNail %>" target="_thumbNail">
              <img src="<%= contents[i].thumbNail %>" width="180" height="180">
            </a>
<!--            <video width="240" height="180" controls >
              <source src="<%= contents[i].playUrl %>" />
            </video>
            <video width="240" height="180" controls >
              <source src="<%= contents[i].s3PlayUrl %>" />
            </video>
            -->
            <br>parseId&nbsp;:&nbsp;  <%= contents[i].parseId %>
            <br>content._id &nbsp;:&nbsp; <%= contents[i]._id %>:&nbsp;&nbsp;
            <br>content.visibility &nbsp;:&nbsp; <%= contents[i].visibility %>:&nbsp;&nbsp;
            <br><a href="<%= contents[i].playUrl %>" target="_admincontent">playUrl</a>:&nbsp;&nbsp;<%= contents[i].playUrl %>
            <br><a href="<%= contents[i].thumbNail %>" target="_admincontent">thumbNail</a>:&nbsp;&nbsp;<%= contents[i].thumbNail %>
            <br><a href="<%= contents[i].s3PlayUrl %>" target="_admincontent2">s3PlayUrl</a>:&nbsp;&nbsp;<%= contents[i].s3PlayUrl %>
            <br>defaultMoment:&nbsp;&nbsp;<%= JSON.stringify(contents[i].defaultMoment) %>
            <br>editorialMoments:&nbsp;&nbsp;<%= JSON.stringify(contents[i].editorialMoments) %>
            <br>duration:&nbsp;&nbsp;<%= contents[i].duration%>
            <br>editorialMoments: (<%=  (contents[i].editorialMoments != null) ? contents[i].editorialMoments.values.length : 0; %>) &nbsp;&nbsp;<%= JSON.stringify(contents[i].editorialMoments) %>
            <br>EditorialMomentsStr:&nbsp;&nbsp;<%= JSON.stringify(contents[i].EditorialMomentsStr) %>

            <br>socialEndorsementMessage:&nbsp;&nbsp;<%= contents[i].socialEndorsementMessage %>
            <br>socialEndorsements:&nbsp;&nbsp;<%= JSON.stringify(contents[i].socialEndorsements) %>
            <br>socialEngagedFriends:&nbsp;&nbsp;(<%= JSON.stringify(contents[i].socialEngagedFriends.values.length) %>) <%= JSON.stringify(contents[i].socialEngagedFriends) %>
            <br><br>
            <input type="submit" value="delete content">

          </form>

      <% } %>
    </ul>
    <hr>
  </div>


<% include footer %>
