<% include header %>



    <form action="/admin/usability/setup/users?secret=<%= secret %>&phoneNo=<%= phoneNo %>" method="post">
      <input name="secret" type="hidden" placeholder="secret" value="<%= secret %>">
      <input name="setup" type="hidden" p laceholder="Phone" value="users">
      <input name="host" type="text" placeholder="host" value="https://feighty.herokuapp.com">
      <input type="submit" value="Usability Setup - Users">
      <br>
    </form>
    <form action="/admin/usability/setup/users/profile?secret=<%= secret %>&phoneNo=<%= phoneNo %>" method="post">
      <input name="secret" type="hidden" placeholder="secret" value="<%= secret %>">
      <input name="setup" type="hidden" p laceholder="Phone" value="users.profile">
      <input name="host" type="text" placeholder="host" value="https://feighty.herokuapp.com">
      <input type="submit" value="Usability Setup - Users Profile Images">
      <br>
    </form>
    <form action="/admin/usability/setup/chats?secret=<%= secret %>&phoneNo=<%= phoneNo %>" method="post">
      <input name="secret" type="hidden" placeholder="secret" value="<%= secret %>">
      <input name="setup" type="hidden" placeholder="chats" value="chats">
      <input name="host" type="text" placeholder="host" value="https://feighty.herokuapp.com">
      <input type="submit" value="Usability Setup - Chats">
      <br>
    </form>
    <form action="/admin/usability/setup/messages?secret=<%= secret %>&phoneNo=<%= phoneNo %>" method="post">
      <input name="secret" type="hidden" placeholder="secret" value="<%= secret %>">
      <input name="setup" type="hidden" placeholder="messages" value="messages">
      <input name="host" type="text" placeholder="host" value="https://feighty.herokuapp.com">
      <input type="submit" value="Usability Setup - Messages">
      <br>
    </form>



    <hr>
    <hr>
  </div>


<% include footer %>
